<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ubiot.ad.dao.ActivityMapper" >
    <resultMap id="BaseResultMap" type="cn.ubiot.ad.entity.Activity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="descr" property="descr" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, descr, company_name, created_at, updated_at
    </sql>

    <sql id="Sort_Condition">
        <trim suffixOverrides=",">
        order by
        <choose>
            <when test="sortInfo != null and sortInfo.size>0">
                <if test="sortInfo.id =='desc'">
                    id desc,
                </if>
                <if test="sortInfo.id =='asc'">
                    id asc,
                </if>
                <if test="sortInfo.name == 'desc'">
                    name desc,
                </if>
                <if test="sortInfo.name == 'asc'">
                    name asc,
                </if>
                <if test="sortInfo.descr == 'desc'">
                    descr desc,
                </if>
                <if test="sortInfo.descr == 'asc'">
                    descr asc,
                </if>
                <if test="sortInfo.companyName == 'desc'">
                    company_name desc,
                </if>
                <if test="sortInfo.companyName == 'asc'">
                    company_name asc,
                </if>
                <if test="sortInfo.createdAt == 'desc'">
                    created_at desc,
                </if>
                <if test="sortInfo.createdAt == 'asc'">
                    created_at asc,
                </if>
                <if test="sortInfo.updatedAt == 'desc'">
                    updated_at desc,
                </if>
                <if test="sortInfo.updatedAt == 'asc'">
                    updated_at asc,
                </if>
            </when>
            <otherwise>
                created_at desc
            </otherwise>
        </choose>
        </trim>
    </sql>

    <sql id="Query_Condition">
        1=1
        <if test="filters !=null and filters.size>0">
            <if test="filters.id !=null and filters.id !=0">
                and id = #{filters.id}
            </if>
            <if test="filters.name != null and filters.name != ''">
                and name like concat('%',#{filters.name},'%')
            </if>
            <if test="filters.descr != null and filters.descr != ''">
                and descr like concat('%',#{filters.descr},'%')
            </if>
            <if test="filters.companyName != null and filters.companyName != ''">
                and company_name like concat('%',#{filters.companyName},'%')
            </if>
            <if test="filters.createdAt != null and filters.createdAt != ''">
                and created_at &gt;= #{filters.createdAt}
            </if>
            <if test="filters.updatedAt != null and filters.updatedAt != ''">
                and updated_at &lt;= #{filters.updatedAt}
            </if>
        </if>
    </sql>

    <select id="queryByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
      select <include refid="Base_Column_List"/> from activity
      <where>
          <include refid="Query_Condition"/>
      </where>
      <include refid="Sort_Condition"/>
    </select>
</mapper>