<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.base.module.dao.MallMpUserMapper">
	<resultMap id="BaseResultMap" type="com.springboot.base.module.entity.MallMpUser">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="openid" property="openid" jdbcType="VARCHAR"/>
		<result column="session_key" property="sessionKey" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,openid,session_key,name,address,avatar,created_at,updated_at
	</sql>

	<sql id="Sort_Condition">
		<trim suffixOverrides=",">
		order by
		<choose>
			<when test="sortInfo != null and sortInfo.size>0">
				<if test="sortInfo.id =='desc'">
					id desc,
				</if>
				<if test="sortInfo.id =='asc'">
					id asc,
				</if>
				<if test="sortInfo.openid =='desc'">
					openid desc,
				</if>
				<if test="sortInfo.openid =='asc'">
					openid asc,
				</if>
				<if test="sortInfo.sessionKey =='desc'">
					session_key desc,
				</if>
				<if test="sortInfo.sessionKey =='asc'">
					session_key asc,
				</if>
				<if test="sortInfo.name =='desc'">
					name desc,
				</if>
				<if test="sortInfo.name =='asc'">
					name asc,
				</if>
				<if test="sortInfo.address =='desc'">
					address desc,
				</if>
				<if test="sortInfo.address =='asc'">
					address asc,
				</if>
				<if test="sortInfo.avatar =='desc'">
					avatar desc,
				</if>
				<if test="sortInfo.avatar =='asc'">
					avatar asc,
				</if>
				<if test="sortInfo.createdAt =='desc'">
					created_at desc,
				</if>
				<if test="sortInfo.createdAt =='asc'">
					created_at asc,
				</if>
				<if test="sortInfo.updatedAt =='desc'">
					updated_at desc,
				</if>
				<if test="sortInfo.updatedAt =='asc'">
					updated_at asc,
				</if>
			</when>
			<otherwise>
				created_at desc
			</otherwise>
		</choose>
		</trim>
	</sql>

	<sql id="Query_Condition">
		1=1
		<if test="filters !=null and filters.size>0">
			<if test="filters.id !=null and filters.id !=0">
				and id = #{filters.id}
			</if>
			<if test="filters.openid !=null and filters.openid !=''">
				and openid = #{filters.openid}
			</if>
			<if test="filters.sessionKey !=null and filters.sessionKey !=''">
				and session_key = #{filters.sessionKey}
			</if>
			<if test="filters.name !=null and filters.name !=''">
				and name = #{filters.name}
			</if>
			<if test="filters.address !=null and filters.address !=''">
				and address = #{filters.address}
			</if>
			<if test="filters.avatar !=null and filters.avatar !=''">
				and avatar = #{filters.avatar}
			</if>
			<if test="filters.createdAt !=null">
				and created_at = #{filters.createdAt}
			</if>
			<if test="filters.updatedAt !=null">
				and updated_at = #{filters.updatedAt}
			</if>
		</if>
	</sql>

	<select id="queryByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
		<where>
			<include refid="Query_Condition"/>
		</where>
		<include refid="Sort_Condition"/>
	</select>
</mapper>